
{% extends "pages/layout.html" %}
{% block content %}

   <!-- about -->
   <div class="about">
    <div class="container-fluid">
       <div class="row d_flex">
          <div class="col-lg-6 col-md-12">
             <div class="titlepage text_align_left">
                <span>About Us</span>
              <!--  <h2>AGRICULTURE MARKET</h2>
                <p>fact that a reader will be distracted by the readable content of a page when looking at its layout.
                   The point of using Lorem Ipsum is that itfact that a reader will be distracted by the readable
                   content of a page when looking at its layout. The point of using Lorem Ipsum is that itfact th</p>
                <a class="read_more" href="about.html">Learn More</a>
                -->


                <h2>About Us</h2>
                     <p>Welcome to our Agriculture Market platform — a digital solution designed to empower farmers by connecting them directly with buyers, suppliers, and agricultural experts. Our mission is to simplify farming, boost productivity, and ensure fair pricing for every farmer.
                     
                     We provide a one-stop marketplace where farmers can sell their produce, purchase essential farming materials, and access expert advice to improve crop quality and yield. Through our platform, we aim to bridge the gap between traditional farming and modern technology, ensuring that farmers are not left behind in the digital revolution.
                     
                     Join us in creating a stronger, smarter, and more sustainable future for agriculture.</p>
                     <a class="read_more" href="https://agmarknet.gov.in/SearchCmmMkt.aspx?Tx_Commodity=137&Tx_State=AP&Tx_District=0&Tx_Market=0&DateFrom=17-Apr-2025&DateTo=17-Apr-2025&Fr_Date=17-Apr-2025&To_Date=17-Apr-2025&Tx_Trend=0&Tx_CommodityHead=Ajwan&Tx_StateHead=Andhra+Pradesh&Tx_DistrictHead=--Select--&Tx_MarketHead=--Select--">Learn More</a>

             </div>
          </div>
          <div class="col-lg-6 col-md-12">
             <div class="row d_flex">
                <div class="col-md-7">
                   <div class="about_img">
                      <figure><img src="/static/images/about_img.jpg" alt="#" />
                      </figure>
                   </div>
                </div>
                <div class="col-md-5">
                   <div class="about_img">
                      <figure><img src="/static/images/about_img1.jpg" alt="#" />
                      </figure>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end about -->
 {% endblock %}
