{% extends "pages/layout.html" %}
{% block content %}

   <!-- news -->
   <div class="news">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage text_align_left">
                <span>Our</span>
                <h2>Latest News</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class=" col-md-4">
             <div class="latest box_desho">
                <figure><img src="/static/images/news1.jpg" alt="#" /></figure>
               <!-- <span>15<br> April</span>-->
                <div class="nostrud">
                   <h3>How Early Disease Detection Can Save Your Entire Harvest</h3>
                   <p>This blog explains the importance of detecting crop diseases at an early stage. It highlights how using AI-powered tools (like your website) can help farmers identify issues before they spread, saving time, money, and crops </p>
                   <a class="read_more" href="news.html">Read More</a>
                </div>
             </div>
          </div>
          <div class=" col-md-4">
             <div class="latest box_desho">
                <figure><img src="/static/images/news2.jpg" alt="#" /></figure>
               <!-- <span>20<br> April</span>-->
                <div class="nostrud">
                   <h3>Top 5 Common Crop Diseases Every Farmer Should Know</h3>
                   <p>This post lists the most common crop diseases affecting farmers today—such as leaf blight, powdery mildew, and rust. It includes symptoms, causes, and how your crop detection tool can help spot them quickly from just an image.</p>
                   <a class="read_more" href="news.html">Read More</a>
                </div>
             </div>
          </div>
          <div class=" col-md-4">
             <div class="latest box_desho">
                <figure><img src="/static/images/ai_engine.png" style="height:300px;" alt="#" /></figure>
              <!--  <span>21<br> April</span> -->

                <div class="nostrud">
                   <h3>Step-by-Step Guide: How to Use Our Crop Disease Detection Tool</h3>
                   <p>This blog serves as a simple guide for farmers on how to use your website. It walks them through the process of uploading a photo, getting instant disease analysis, and tips on what to do next.</p>
                   <a class="read_more" href="news.html">Read More</a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end news -->
 {% endblock %}
